<h1>Edite seu Perfil</h1>

<%= simple_form_for @profile do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :role, label: "Qual é seu trabalho?", collection: ['Jornalista', 'Fotógrafo'], as: :radio_buttons %>
<%= f.button :submit, class:"btn btn-primary" %>

<% end %>
