<h1>MAH OE</h1>

<%= simple_form_for @profile do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :role, label: "Como deseja se cadastrar?", collection: ['Jornalista', 'Fotógrafo'], as: :radio_buttons %>
<%= f.button :submit, class:"btn btn-primary" %>

<% end %>
