<style>
    h3 {
        font-family: sans-serif;
    }
    p {
        font-family: sans-serif;
    }

</style>


<p>Ol치, <%=@user.profile.first_name%>.</p>

<p>Sua pauta fotogr치fica foi criada.</p>

<h3><strong><%=@job.title %></strong></h3>
<p><strong>Pauta: </strong><%=@job.description %></p>
<p><strong>Data: </strong><%=@job.date.strftime("%d/%m/%Y") %></p>
<p><strong>Hor치rio: </strong><%=@job.time.strftime("%k:%M") %></p>
<p><strong>Editoria: </strong><%=@job.issue %></p>
<p><strong>Editor/Rep칩rter: </strong><%=@job.owner %></p>
<p><strong>Contato: </strong><%=@job.contact %></p>