<h1>Atualizar Pauta</h1>

<%= simple_form_for @job do |f| %>
<%= f.input :title %>
<%= f.input :date %>
<%= f.input :time %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.input :issue %>
<%= f.input :owner %>
<%= f.input :contact %>
<%= f.input :done, as: :boolean, as: :radio_buttons%>
<%# f.input :done, as: :boolean, checked_value: true, unchecked_value: false %>
<%= f.button :submit, class:"btn btn-primary" %>
<br>

<% end %>
