<h1><%= @job.title%></h1>

<h2><%= @job.description %></h2>
<p><%= @job.date.strftime("%d/%m/%Y") %></p>
<p><%= @job.issue %></p>
<p><%= @job.description %></p>
<p><%= @job.owner %></p>
<p><%= @job.contact %></p>

<%= link_to "Editar Pauta", edit_job_path(@job), class: "btn btn-primary"%>
