<%= form_tag new_job_skill_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encontre um fotógrafo"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @profiles.each do |profile| %>
    <%= simple_form_for [ @job, @skill ] do |f| %>
        <h2> <%= link_to profile.first_name, profile_path(profile) %> </h2>
            <%= f.input :fee %>
            <%= f.hidden_field :profile_id, value: profile.id %>
            <%= f.submit "Pautar", class: "btn btn-primary" %>
    <% end %>
<% end %>
